

### Step 1. Import the necessary libraries

In [11]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

In [13]:
ds = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 3. Assign it to a variable called euro12.

In [15]:
euro12 = ds

### Step 4. Select only the Goal column.

In [16]:
euro12["Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [21]:
len(euro12.index)

16

### Step 6. What is the number of columns in the dataset?

In [23]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [31]:
discipline = euro12[["Team","Yellow Cards","Red Cards"]]

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

### Step 9. Calculate the mean Yellow Cards given per Team

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**