In [5]:
import pandas as pd
a = pd.Series([1,2,3,4])
b = pd.Series([5,6,7,8])
d = {"Apple":a, "Banana":b}
df = pd.DataFrame(d)
df

   Apple  Banana
0      1       5
1      2       6
2      3       7
3      4       8

In [16]:
data = {"City"      : ["Karachi", "Lahore", "Islamabad"],
        "Population": [18891354, 11126285, 1014825] }
frame = pd.DataFrame(data, index=[1,2,3], columns=["City","Population","Area"])
frame

        City  Population Area
1    Karachi    18891354  NaN
2     Lahore    11126285  NaN
3  Islamabad     1014825  NaN