

### Step 1. Import the necessary libraries

In [9]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

In [10]:
ds = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 3. Assign it to a variable called euro12.

In [11]:
euro12 = ds

### Step 4. Select only the Goal column.

In [12]:
euro12["Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [13]:
len(euro12.index)

16

### Step 6. What is the number of columns in the dataset?

In [14]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [15]:
discipline = euro12[["Team","Yellow Cards","Red Cards"]]

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [21]:
discipline.sort_values(["Red Cards"])
discipline.sort_values(["Yellow Cards"])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [23]:
discipline.mean()

Yellow Cards    7.4375
Red Cards       0.1875
dtype: float64

### Step 10. Filter teams that scored more than 6 goals

### Step 11. Select the teams that start with G

### Step 12. Select the first 7 columns

### Step 13. Select all columns except the last 3.

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**