In [3]:
import numpy as np
import pandas as pd
sales = pd.Series([1,2,3,4])
sales

0    1
1    2
2    3
3    4
dtype: int64

In [48]:
canteen = pd.Series([50,60,40,80,40,90], index = ['Mon','Tue','Wed','Thu','Fri','Sat'])
b = canteen > 50
canteen[b]

Tue    60
Thu    80
Sat    90
dtype: int64

In [60]:
90 in canteen.values

True

In [62]:
arr = np.array([1,2,3,4])
ind = np.array([5,6,7,8])
s = pd.Series(arr, index = ind)
s

5    1
6    2
7    3
8    4
dtype: int32

In [5]:
sdata = {"Sindh":3500, "Punjab":4500, "KPK":5000, "Balochistan":3000}
tax = pd.Series(sdata)
tax

Sindh          3500
Punjab         4500
KPK            5000
Balochistan    3000
dtype: int64

In [59]:
sdata = {"Sindh":3500, "Punjab":4500, "KPK":5000, "Balochistan":3000}
tax = pd.Series(sdata, index = ["Punjab","Balochistan","Gilgit"])
tax

Punjab         4500.0
Balochistan    3000.0
Gilgit            NaN
dtype: float64

In [58]:
tax.isnull()

Punjab         False
Balochistan    False
Gilgit          True
dtype: bool

In [70]:
tax.name = "capacity"
tax.index.name = "state name"
tax

state name
Punjab         4500.0
Balochistan    3000.0
Gilgit            NaN
Name: capacity, dtype: float64

In [71]:
tax.index = ["P","B","G"]
tax

P    4500.0
B    3000.0
G       NaN
Name: capacity, dtype: float64