# Pandas Assignment.

### 1. Create a data series with marks of students : 75, 80, 79, 60

In [3]:
import pandas as pd
marks = pd.Series([75, 80,79, 60])
marks

0    75
1    80
2    79
3    60
dtype: int64

### 2. Create a data frame with name of students, id and marks

In [4]:
students = pd.DataFrame({"id"  : [101, 102, 103, 104],
                         "name": ["Imran", "Faisal", "Aamir", "Adnan"],
                         "mark": marks})
students

    id    name  mark
0  101   Imran    75
1  102  Faisal    80
2  103   Aamir    79
3  104   Adnan    60

### 3. Now read the file 'data.csv' in panda

In [6]:
st = pd.read_csv("data for panda exercise.csv")

### 4. What are the columns in the dataframe?

In [7]:
st.columns

Index(['Student Code', 'Degree', 'Student Name', 'Mid', 'Quiz 1', 'Quiz 2',
       'Best of Quizzes', 'Assignment 1', 'Assignment 2',
       'Best of Assignments', 'Total Sessional (50)', 'Final (50)',
       'Total (100)', 'Grade'],
      dtype='object')

### 5. Sort the data based on Marks obtained. Fill all the 'na' cells with 0

### 6. Display the top 10 rows

### 7. Display the last 10 rows

### 8. Display only the odd rows

### 9. Display only those students who got failed in examination

### 10. Find out the basic statistical info about data

### 11. How many students got A, B, C, F?

### 12. What are the mean scores for students who got A, B, C, F?